<h1>Edit Trail Segment</h1>

<div class='formContent'>
	<%= render 'form' %>
</div>

<div class='formButtons'>
	<!--back button <span class='backButton'>	
		<%= link_to 'Back', trailsegments_path %>
	</span> -->
	<span class='addNewButton'>	
		<%= link_to 'View', @trailsegment %>
	</span>	
 </div>