<h1>Edit Trail Segment</h1>

<div class='formContent'>
	<%= render 'form' %>
</div>

<div class='formButtons'>
	<span class='backButton'>	
		<%= link_to 'Back', trailsegments_path %>
	</span>
	<span class='addNewButton'>	
		<%= link_to 'Show', @trailsegment %>
	</span>	
 </div>