<!-- from https://github.com/plataformatec/devise/wiki/How-To:-Add-sign_in,-sign_out,-and-sign_up-links-to-your-layout-template -->

<% if user_signed_in? %>
  <li>
  <span class='logOut'><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></span>    
  </li>
<% else %>
  <li>
  <span class='logIn'><%= link_to('Login', new_user_session_path)  %> </span> 
  </li>
<% end %>