<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class='h3-Edit'><%= f.label :email %></span><span class='formAnswer'><%= f.text_field(:email) %></span>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :approved %></span>
    <%= f.check_box :approved %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :organization %></span>
    <!-- <%= f.text_field :organization %> -->
    <%= f.select :organization_id, Organization.all.collect{ |org| [org.code, org.id]}, include_blank: true %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :password %></span>
    <!-- <%= f.text_field :organization %> -->
    <%= f.password_field(:password) %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :password_confirmation %></span>
    <!-- <%= f.text_field :organization %> -->
    <%= f.password_field(:password_confirmation) %>
  </div>

  <div class="field">
    <span class='h3-Edit'><%= f.label :admin %></span>
    <% if (@user.admin) && (@admin_count == 1) %>
      <span class='finePrint'><%= f.check_box :admin, disabled: true %>
      (Note:  You can't deselect the only admin account.)</span>
    <% else %>
      <%= f.check_box :admin %>
    <% end %>
  </div>
  <div class="actions">
    <%= link_to "Cancel", users_path %>
    <%= f.submit %>
  </div>
<% end %>
