
<h1>Users</h1>

<p class='tableCaption'>
  Summary of account privileges.
</p>
<span class='tabLeft'>
  <%= link_to "All Users", :action => "index" %>
</span>

<span class='tabRight'>
  <%= link_to "Users Awaiting Approval", :action => "index", :approved => "false" %>
</span>
<table border=1>
  <tr>
  <th>Email</th>
  <th>Approved?</th>
  <th>Admin</th>
  <th>Organization</th>
  <th>Edit</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.approved %></td>
      <td><%= user.admin? %></td>
      <td><%= user.organization.code if user.organization %></td>
      <td><%= link_to "Edit", edit_user_path(user), :class => "tableLink" %></td>
    </tr>
  <% end %>
</table>
