
<h1>Users</h1>

<p class='tableCaption'>
  Summary of account privileges.
</p>
<span class='tabLeft <%= "active" if params[:all] == "true" || params[:all].nil? %>'>
  <%= link_to "All Users", :action => "index", :all => "true"  %>
</span>

<span class='tabRight <%= "active" if params[:all] == "false"   %>'>
  <%= link_to "Users Awaiting Approval", :action => "index", :approved => "false", :all => "false" %>
</span>
<table border=1>
  <tr>
  <th>Email</th>
  <th>Approved?</th>
  <th>Admin</th>
  <th>Organization</th>
  <th>Edit</th>
  <th>Delete</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.approved %></td>
      <td><%= user.admin? %></td>
      <td><%= user.organization.code if user.organization %></td>
      <td><%= link_to "Edit", approve_user_path(user), :class => "tableLink" %></td>
      <% if user == current_user %>
        <td>Delete</td>
      <% else %>
        <td><%= link_to "Delete", user_path(user), :class => "tableLink", :method => "delete" %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<div class='formButtons'>
  <% if current_user.admin? %>
  <span class='buttonBelow'><%= link_to 'Add New User', new_user_path%></span>
  <% end %>
</div>
