

body {
  background-color: #fff;
  color: #333;
  font-family: 'mission_gothiclight' sans-serif;
  font-size: 16px;
  line-height: 18px;

}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td  
                  {margin: 0;padding: 0;border: 0;outline: 0;
                  font-size: 100%;vertical-align: baseline;
                  background: transparent;}

/* basic text styles ------------------------------ */
h1 {
  font-family: 'mission_gothicregular';
  text-transform: uppercase;
  color: #00adef;
  font-size: 20px;
  margin-left: 200px;
  margin-bottom: 5px;
  margin-top:30px;
}

p, ol, ul, td {
  font-family: 'mission_gothiclight' sans-serif;
  font-size: 16px;
  line-height: 20px;
}

p {
  color: #58595b;
  margin-left: 60px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 16px;
  color: red;
}
/* trying other things
a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}
*/

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 16px;
    list-style: square;
  }
}


/* header ------------------------------ */
.topheader {
  background-color: #523d32;
  width: 100%;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 1px;
  margin-bottom: 0px;
}

.admin-logo {
  width:329px; 
  height:37px;
  margin-left:-30px;
  display:inline;
  margin-bottom:-15px;
}

#logInText-email {
  color: white;
  float:right;
  margin-right:60px;
  margin-top:-3px;
  display:inline;
}

.logIn a {
  color:#91C73D;
  display: inline;
  float:right;
  margin-right:15px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.SignUp a {
  color:#91C73D;
  display: inline;
  float:right;
  margin-right:60px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.logOut a {
  color:#91C73D;
  display: inline;
  float:right;
  margin-right:15px;
  margin-top:-9px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.editAccount a {
  color:#91C73D;
  display: inline;
  float:right;
  margin-right:60px;
  margin-top: -9px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
} 


/* menu ------------------------------ */
#MenuBar {
  background-color: white;
  width:160px;
  float:left;
  margin-right:40px;
  padding-bottom:-30px;

}

.MenuItem {
  font-family: 'mission_gothiclight';
  color:#00adef;
  text-transform: uppercase;
  text-align: left;
  margin-top:10px;
  padding-left:30px;
  padding-right:10px;
  padding-top:20px;
  padding-bottom: 20px;
  display:block;
  text-decoration: none;
  &:hover {
    color:white;
    background-color: #00adef;
/* other possibilities
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    -moz-border-radius-topleft:30px;
    -moz-border-radius-bottomleft:30px;
    border-bottom: 1px solid gray;
    */
  }
}

li.active a {
  color:white;
  background-color: #00adef;
}


/* table styles ------------------------------ */
td {
  padding:10px;
  border:1px solid #E3E3E1;


}

th {
  font-family: 'mission_gothiclight';
  text-transform: uppercase;
  font-size: 13px;
  color: #ffffff;
  padding: 10px;
  border:1px solid #96daf8;

  background-color: #00adef;

}

table#trails td:nth-child(7) {
    vertical-align: middle;
}

tr:nth-child(even) {
  background: #f1f2f2;
}
tr:nth-child(odd) {
  background: white;
}

table {
  margin-left: 200px;
  margin-right: 30px;
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style-type: none
}

.tableCaption {
  font-family: 'mission_gothiclight';
  color: #bbbdbf;
  margin-bottom:5px;
  margin-top: 20px;
}

.uploadDescription {
  margin-bottom: 20px;
  margin-right:200px;
}

.uploadDescription a {
  color: #00adef;
  font-size:16px;
  text-transform: none;
  text-decoration:none;
  &:hover {
    text-decoration: underline;
  }
}

.tableLink {
  color: #2aabe2;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.tableLink-delete {
  color: #ba4a4a;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
/* for tabs (buttons) above tables ------------------------------ */
.tabLeft a {
  color: #2aabe2;
  background-color: #d9f0fc;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  display:inline-block;
  text-decoration: none;
  &.hover {
    color:#2aabe2;
    background-color: #96daf8;
  }
}

.tabLeft.active a {
    color:white;
    background-color: #00adef;   
  }

.tabRight a {
  color: #2aabe2;
  background-color: #d9f0fc;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  display:inline-block;
  margin-left:-5px;
  text-decoration: none;
  &.hover {
    color:#2aabe2;
    background-color: #96daf8;
  }
}

.tabRight.active a {
    color:white;
    background-color: #00adef;   
}


/* for buttons below tables ------------------------------ */
.buttonBelow a {
  color: #2aabe2;
  background-color: #d9f0fc;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  &:hover {
    color:#2aabe2;
    background-color: #96daf8;
  }
  &:visited {
    color:#2aabe2;
    background-color: #d9f0fc;
  }
}


/* styles for 'show' & 'edit' pages ------------------------------ */
.formContent {
  margin-left: 200px;
}

.formContent-Show {
  margin-left: 200px;
  margin-top: 30px;
}
h3 {
  color: #bbbdbf;
  text-transform: uppercase;
  font-size:13px;
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right:200px;
}

.formAnswer {
  color: #58595b;
  font-size:16px;
  text-transform: none;
}

.formAnswer a {
  color: #00adef;
  font-size:16px;
  text-transform: none;
  text-decoration:none;
  &:hover {
    text-decoration: underline;
  }

}

.formButtons {
  margin-left: 200px;
  margin-top: 30px;
  margin-bottom: 50px;
  text-decoration: none;
}

.backButton a {
  color: #00adef;
  background-color: #d9f0fc;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 15px;
  text-decoration: none;
  &:hover {
    color:#00adef;
    background-color: #96daf8;
  }
  &:visited {
    color:#00adef;
    background-color: #d9f0fc;
  }
}

.h3-Edit {
  color: #bbbdbf;
  text-transform: uppercase;
  font-size:13px; 
  line-height: 20px;
  margin-top: 15px;
  margin-right:5px;
  display:block;
  font-weight:bold;
}

.finePrint {
  font-size: 14px !important;
  color: #808285;
  display:block;
  margin-right:200px;

}

.h3-Photo {
  text-transform: uppercase;
  font-size:14px;
  display:block;
}


input[type=text] {
  width:200px;
}

input#trail_statustext, input#trail_photorecord_attributes_credit, input#trail_map_url {
  width:500px; 
}

input#trail_length, input#trailsegment_length, input#trail_trlsurface {
  width:100px;
}

/* log in ------------------------------ */
.formHeader-LogIn {
  color:#bbbdbf;
  text-transform: uppercase;
}

.linkButton-SignIn a {
  color: #00adef;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.linkButton-SignUp a {
  color: #00adef;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/*blue buttons
.linkButton-SignUp a {
  color: #00adef;
  background-color: #d9f0fc;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  &:hover {
    color:#00adef;
    background-color: #96daf8;
  }
  &:visited {
    color:#00adef;
    background-color: #d9f0fc;
  }
}


.linkButton-SignIn a {
  color: #00adef;
  background-color: #d9f0fc;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  margin-right:15px;
  &:hover {
    color:#00adef;
    background-color: #96daf8;
  }
  &:visited {
    color:#00adef;
    background-color: #d9f0fc;
  }
} */

span.linkButton-Forgot a {
  color: #00adef;
  text-decoration: none;
  padding-left:15px;
  &:hover {
    text-decoration: underline;
  }
}

/*buttons ------------------------------ */
input[type=submit] {
  color:white;
  background-color: #91C73D;
  border:none;
  font-family: 'mission_gothiclight';
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top:15px;
  &:hover {
      color:white;
      background-color: #B0D576;
      cursor:pointer;

    }
}
.addNewButton a {
  color: #2aabe2;
  background-color: #d9f0fc;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  &:hover {
    color:#2aabe2;
    background-color: #96daf8;
  }
  &:visited {
    color:#2aabe2;
    background-color: #d9f0fc;
  }
}

/* messages */
.alert {
  color:#9C2D23;
  background-color:#edcecc;
  margin-left:-30px;
  padding-left:230px;
}

.notice {
  color:#91C73D;
  background-color:#EBF4DF;
  margin-left:-30px;
  padding-left:230px;
}