<h1>Edit Organization</h1>

<div class='formContent'>
	<%= render 'form' %>
</div>

<div class='formButtons'>
	<!--back button <span class='backButton'>
		<%= link_to 'Back', organizations_path %>
	</span> -->
	<span class='addNewButton'>	
		<%= link_to 'View', @organization %>
	</span>		
</div>