<h1>Add Organization</h1>

<div class='formContent'>
	<%= render 'form' %>
</div>
<!--back button
<div class='formButtons'>
	<span class='backButton'><%= link_to 'Back', organizations_path %></span>
</div> -->
